{% extends 'blog/base.html' %} {% block content %}
<div class="container profilePage">
	<div class="row">
		<div class="col-md-3 ">
		<div class="list-group ">
            <a href="/profile" class="list-group-item list-group-item-action">  Profile</a>
            <a href="/change-password" class="list-group-item list-group-item-action">Change Password</a>
            <a href="/manage-blogs" class="list-group-item list-group-item-action active">Blogs</a>
            <a href="/logout" class="list-group-item list-group-item-action">Logout</a>
        </div> 
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Edit Blog</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form method="post" enctype="multipart/form-data">
                              <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">Title</label> 
                                <div class="col-8">
                                  <input  name="title"  class="form-control here" type="text" value="{{blog.title}}">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">Excerpt</label> 
                                <div class="col-8">
                                  <textarea name="excerpt" class="form-control here">{{blog.excerpt}}</textarea>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">Content</label> 
                                <div class="col-8">
                                  <textarea name="content" class="form-control here">{{blog.content}}</textarea>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">Image</label> 
                                <div class="col-8">
                                  <input id="name" name="file"  class="form-control here" type="file">
                                  <!-- if image is uploaded for the blog then image shown -->
                                  {% if blog.image != "" %}
                                    <img src ="/media/{{blog.image}}" style="width:100px;height:100px"/>
                                  {% endif %}
                                    {% csrf_token %}
                                </div>
                              </div>

                                <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary">Update</button>
                                </div>
                              </div>
                            </form>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>
{% endblock %}