{% extends 'blog/base.html' %} {% block content %}
<div class="container profilePage">
	<div class="row">
		<div class="col-md-3 ">
		<div class="list-group ">
            <a href="/profile" class="list-group-item list-group-item-action">  Profile</a>
            <a href="/change-password" class="list-group-item list-group-item-action">Change Password</a>
            <a href="/manage-blogs" class="list-group-item list-group-item-action active">Blogs</a>
            <a href="/logout" class="list-group-item list-group-item-action">Logout</a>
        </div> 
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-9">
		                    <h4>My Blogs</h4>
                            </div>
                            <div class="col-md-3 text-right">
                            <a href="/manage-blogs/add" class="btn btn-primary">Add New </a>
		                   
		                </div>
                      <div class="col-md-12">  <hr></div>
		            </div>

		            <div class="row">
		                <div class="col-md-12">
                            <!-- created loop for all blog lists and then it rendered @ manage.blog-html -->
                            {% for blog in blogs%}
                            <article>
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <figure>
                                            <img src="/media/{{blog.image}}">
                                        </figure>
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                         <h4>{{ blog.title}}</h4>
                                        <p>{{blog.excerpt}}</p>
                                        <section>
                                            <a href="/manage-blogs/edit/{{blog.id}}" class="btn btn-primary">Edit </a>
                                            <a href="/manage-blogs/delete/{{blog.id}}" class="btn btn-danger">Delete </a>
                                        </section>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        
                        </div>
                </div>
                        
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}